
    body {
      background-color: #EAf6f6;
      font-family: 'Merriweather', serif;
      text-align: center;
      margin: 0;

    }

    .paper {
      margin: 2rem auto 2rem auto;
      background-color: #ecdfc8;
      max-width: 1028px;
    }

    h1 {
      margin: 0 auto 1.5rem auto;
      font-family: 'Sacramento', cursive;
      font-size: 5.625rem;
      color: #df7861;
      line-height: 110%;
    }

    h2 {
      margin: 0 auto 0 auto;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.6rem;
      color: #df7861;
      font-weight: normal;
      line-height: 200%;
    }

    h3 {
      font-family: 'Montserrat', sans-serif;
      color: #11999e;
    }

    .handwritten {
      font-family: 'Sacramento', cursive;
      font-weight: bold;
    }
    .section-header {
      font-size: 3.25rem;
      font-weight: bold;
    }

    .section-second-header {
      font-size: 2.25rem;
    }

    .quote-header {
      color: #11999e;
    }

    .card-header {
      color: #11999e;
      font-size: 2.5rem;
      margin: 0;
    }

    a {
      font-family: 'Montserrat', sans-serif;
      margin: 10px 20px;
      text-decoration: none;
      color: #11999e;
    }

    a:hover {
      color:#df7861;
    }

    hr {
      border-style:dotted;
      width:5%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-width: 8px;
      border-color: #ecb390;
      margin: 30px auto;
    }

    p {
      line-height: 2;
    }

    .quote-table {
      margin: auto;
      width: 100%;
    }

    .quote-cell {
      width: 30%;
    }

    .arrow-cell{
      width: 5%;
    }

    .quote-box {
      align-content: center;
      margin: 0 15% 0 15%;
      background-color: #EAf6f6;
      border-radius: 1rem;
      padding: 1rem;
      position: relative;
    }

    .quote-icon {
      position: absolute;
      max-width: 20px;
      max-height: 20px;
      /*filter: invert(74%) sepia(49%) saturate(339%) hue-rotate(332deg) brightness(96%) contrast(93%);*/
    }
    .quote-left {
      top:0.25rem;
      left:0.25rem;
    }

    .quote-right {
      bottom: 0.25rem;
      right:0.25rem;
    }

    .top-container {
      text-align: center;
      background-color: #EAf6f6;
    }

    .middle-container {
      background-color: #ecdfc8;
    }

    .bottom-container {
      background-color: #66bfbf;
      padding: 1rem 0 1rem;
    }

    .top-cloud {
      height: 150px;
      width: 300px;
      position: relative;
      left: 240px;
    }

    .top-table {
      margin: auto;
    }

    .profile-text {
      width: 33%;
      margin: auto;
    }

    .arrow {
      color: #ecb390;
      font-size: 2.5rem;
    }


    .skill-row {
      width: 70%;
      margin: 100px auto 100px auto;
      text-align: left;
      line-height: 2;
    }

    .icon-path {
      fill: #ecdfc8;
    }

    .skill-img {
      width: 25%;
      max-height: 128px;
      max-width: 128px;
      /*filter: invert(74%) sepia(49%) saturate(339%) hue-rotate(332deg) brightness(96%) contrast(93%);*/
      background: #ecb390;
      border-radius: 12px;
      padding: 1rem;
    }

    .left-img {
      float: left;
      margin-right: 1rem;
    }

    .right-img {
      float: right;
      margin-left: 1rem;
    }

    .copyright {
      color: #EAf6f6;
      font-size: 0.75rem;
    }

    .copyright > a {
      margin: 0;
      color: #ecb390;
    }

    .btn {
      background: #11CDD4;
      background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
      background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
      background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
      background-image: -o-linear-gradient(top, #11CDD4, #11999E);
      background-image: linear-gradient(to bottom, #11CDD4, #11999E);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      color: #FFFFFF;
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 100;
      padding: 10px 20px 10px 20px;
      box-shadow: 1px 1px 20px 0px #000000;
      -webkit-box-shadow: 1px 1px 20px 0px #000000;
      -moz-box-shadow: 1px 1px 20px 0px #000000;
      text-shadow: 1px 1px 20px #000000;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      }

    .btn:hover {
      border: solid #337FED 0px;
      background: #30E3CB;
      background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
      background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
      background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
      background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
      background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      text-decoration: none;
    }
